$breakpoint-mobile: 767px;

.card{
    width: 12vw;
    height: 12vw * 1.5;
    filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.05));
    font-size: 0.8vw;
    
    @media (max-width: $breakpoint-mobile) {
        width: 16vw;
        height: 16vw * 1.5;
        font-size: 1.4vw;
    }

    border-radius: 1vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5vw;
    overflow: auto;

    &:hover{
        transform: scale(1.05);
    }

    &.win .card-prize{
        background: linear-gradient(273deg, #ff8477, #a1b2ff, #ff81a0, #c5b3ff, #ff7070);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4em;
        font-weight: 700;

        background-size: 200% 100%;
    
        animation: prizeGradient 16s ease infinite;
    }
}

.card-message{
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 160%;
    
    .card-message-upper{
        color: #777777;
        font-size: 0.8em;
        font-weight: 400;
    }
    
    .card-message-below{
        color: #484848;
        font-size: 2em;
        font-weight: 700;
    }
}

.card-inside{
    position: relative;
    width: 100%;
    flex-grow: 3;
    border-radius: 0.8vw;
    background: #F5F5F5;

    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .card-prize{
        background: gray;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2em;
        font-weight: 700;

        background-size: 200% 100%;
    }

    @keyframes prizeGradient {
        0%{background-position:0% 50%}
        50%{background-position:100% 51%}
        100%{background-position:0% 50%}
    }

    .card-number{
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;

        svg{
            position: absolute;
            fill: #FFF;
            width: 4vw;
            height: 1.9vw;

            @media (max-width: $breakpoint-mobile) {
                width: 12vw;
                height: 3.8vw;
            }
        }
        p{
            position: absolute;
            margin-top: 0.2em;
            color: #777777;
            font-size: 0.8em;
            font-weight: 500;
            text-align: center;

            @media (max-width: $breakpoint-mobile) {
                margin-top: 0.4em;
            }
        }
    }
}

.win{
    z-index: 2;
}

.win.complete:hover{
    filter: drop-shadow(0 0 5em rgb(202, 179, 255));
}